venv
.env
resume_txt
generated_latex
browser_snapshots
logs
resume
resume_txt
pdf_to_txt
jd_to_latex/__pycache__
browser_agent/__pycache__
resume_to_latex/__pycache__
__pycache__
browser_agent/testcode
